@{
    ViewData["Title"] = "Products Page";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Products</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Shop</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/assets/images/products/product-1.jpg" alt="Product image cap">
            <div class="card-body">
                <h4 class="card-title">Teddy Bear Coats</h4>
                <ul class="product-rating-list">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h4 class="product-price">₹1250.00</h4>
                    <div class="button-area">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light float-end">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/assets/images/products/product-2.jpg" alt="Product image cap">
            <div class="card-body">
                <h4 class="card-title">Fine-knit Sweater</h4>
                <ul class="product-rating-list">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h4 class="product-price">₹1250.00</h4>
                    <div class="button-area">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light float-end">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/assets/images/products/product-3.jpg" alt="Product image cap">
            <div class="card-body">
                <h4 class="card-title">Checkered Crop Top</h4>
                <ul class="product-rating-list">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h4 class="product-price">₹1250.00</h4>
                    <div class="button-area">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light float-end">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <img class="card-img-top img-fluid" src="~/assets/images/products/product-4.jpg" alt="Product image cap">
            <div class="card-body">
                <h4 class="card-title">Plaid Long-sleeve Shirt</h4>
                <ul class="product-rating-list">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <h4 class="product-price">₹1250.00</h4>
                    <div class="button-area">
                        <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light float-end">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
